BOT_TOKEN=8981644978:AAFMwuqVdjbjFHxk9CNWz3XQntOH8X-41t0
OWNER_ID=7581461096

EMAIL_LOGIN=ignatevm601@gmail.com
EMAIL_PASSWORD=omnxwkgoftcpphuf
EMAIL_RECEIVER=ignatevm601@gmail.com

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
