BOT_TOKEN=1234567890:ABCDEF_your_bot_token_here
OWNER_ID=7581461096

EMAIL_LOGIN=your_email@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
EMAIL_RECEIVER=your_email@gmail.com

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
